@import "tailwindcss";

:root {
  --foreground: var(--color-zinc-50);
  --foreground-muted: var(--color-zinc-300);
  --foreground-subtle: var(--color-zinc-400);
  --background: var(--color-zinc-800);
  --border: var(--color-zinc-600);
  --accent: var(--color-indigo-500);
  --accent-hover: var(--color-indigo-600);
  --destructive: var(--color-red-500);
  --destructive-hover: var(--color-red-600);
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-subtle: var(--foreground-subtle);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
}

@theme {
  --breakpoint-xs: 30rem;
  --text-tiny: 0.625rem;
  --default-transition-duration: 300ms;
}

@layer base {
  body {
    @apply bg-background text-foreground text-base text-pretty antialiased;
  }

  a,
  button {
    @apply cursor-pointer outline-hidden;
  }

  button:focus {
    @apply outline-hidden;
  }

  button:disabled,
  button[disabled] {
    @apply cursor-not-allowed;
  }

  hr {
    @apply border-border h-0 w-full border-t;
  }

  ::placeholder {
    @apply text-foreground-subtle text-base;
  }
}
